body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aladin", system-ui;
    font-size: 19px;
}

.img01{
    width: 105%;
}

button{
    background-color: aqua;
    color: black;
    padding: 25px;
}
