
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');



body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aladin", system-ui;
    font-size: 19px;
}

.img01{
    width: 105%;
}

button{
    background-color: aqua;
    color: black;
    padding: 25px;
}
main{
    text-align: center;
    max-width: 90%;

}
.passo{
    display: none;

}
.passo.ativo{
    display: black;
}